{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{% static 'login_page/images/icons/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/animate/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/css-hamburgers/hamburgers.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/animsition/css/animsition.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/select2/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/vendor/daterangepicker/daterangepicker.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_page/css/main.css' %}">
</head>
<body>
	<div class="container-login100">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30 bg-light">
			<form method="post" class="login100-form validate-form">
                {% csrf_token %}
				<span class="login100-form-title p-b-37">
					{% trans 'Tizimga kirish' %}
				</span>

				<div class="validate-input m-b-20" data-validate="Enter username">
					{{ form.username | as_crispy_field }}
{#					<span class="focus-input100"></span>#}
				</div>

				<div class="validate-input m-b-25" data-validate="Enter password">
					{{ form.password | as_crispy_field }}

				</div>
                <div class="validate-input m-b-25">
                    {{ form.captcha | as_crispy_field }}
                </div>
				<div class="container-login100-form-btn">
{#                    {{ form.captcha }}#}
{#                    <script src="https:/www.google.com/recaptcha/api.js"></script>#}
{#                    <div class="g-recaptcha" data-sitekey="6LfvrWIaAAAAAP6-OVEIl1R-YW8l0wOr_cTQmPL5"></div>#}
					<button type="submit" class="btn-primary login100-form-btn">{% trans 'Kirish' %}</button>
{#					<a href="#" class="login100-social-item">#}
{#						<i class="fa fa-facebook-f"></i>#}
{#					</a>#}
{##}
{#					<a href="#" class="login100-social-item">#}
{#						<img src="{% static 'login_page/images/icons/icon-google.png' %}" alt="GOOGLE">#}
{#					</a>#}
{#				</div>#}

{#				<div class="text-center">#}
{#					<a href="#" class="txt2 hov1">#}
{#						Sign Up#}
{#					</a>#}
				</div>
			</form>


		</div>
	</div>



	<div id="dropDownSelect1"></div>

	<script src="{% static 'login_page/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'login_page/vendor/animsition/js/animsition.min.js' %}"></script>
	<script src="{% static 'login_page/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login_page/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'login_page/vendor/select2/select2.min.js' %}"></script>
	<script src="{% static 'login_page/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login_page/vendor/daterangepicker/daterangepicker.js' %}"></script>
	<script src="{% static 'login_page/vendor/countdowntime/countdowntime.js' %}"></script>
	<script src="{% static 'login_page/js/main.js' %}"></script>
</body>
</html>