{% extends 'base.html' %}
{% load  static i18n %}


{% block title %}
    {% trans 'Foydalanuvchilar' %}
{% endblock %}

{% block content %}
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{% trans 'Foydalanuvchilar' %}</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">{% trans "Izlash" %}</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable" class="table table-hover text-center">
                              <thead>
                                <tr class="text-uppercase">
                                  <th>Id</th>
                                  <th>{% trans 'Ism' %}</th>
                                  <th>{% trans 'Lavozim' %}</th>
{#                                  <th>{% trans "Bo'lim" %}</th>#}
{#                                  <th>{% trans 'Yoshi' %}</th>#}
                                  <th>{% trans "Qo'shildi" %}</th>
                                  <th>{% trans 'Aktiv' %}</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for user in users %}
                                  <tr class="border-bottom">
                                      <td>{{ user.pk }}</td>
                                      <td><a class="links" href="{% url 'profile-page'%}">{{ user.username }}</a></td>
                                      <td>{{ user.type_of_user }}</td>
{#                                      <td></td>#}
{#                                      <td></td>#}
                                      <td>{{ user.date_joined }}</td>
                                      <td>{{ user.is_active }}</td>
                                      <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v text-dark"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                {% if user.is_superuser %}
                                                <a class="dropdown-item text-primary" href="">{% trans "O'zgartirish" %}</a>
                                                <a class="dropdown-item text-danger" href="">{% trans "O'chirish" %}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                      </td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                            </table>

                        </div>
                        <div>
                            {% if user.is_superuser %}
                            <a class="btn btn-success" href="{% url 'user-create' %}">{% trans "Qo'shish" %}</a>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}