{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}
 {% trans 'Add Department Type' %}
{% endblock %}


{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{% trans "Tashkilot turi qo'shish" %}</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="mt-4" action="{% url 'create-department-type' %}" method="POST" novalidate>
                            {% csrf_token %}
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align"></label>
                                <div class="col-md-6 col-sm-6">
                                    {{ forms.name_uz | as_crispy_field }}
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align"></label>
                                <div class="col-md-6 col-sm-6">
                                    {{ forms.name_ru | as_crispy_field }}
                                </div>
                            </div>
                            <div class="ln_solid">
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3">
                                        <button class="btn btn-success mt-3" type="submit">{% trans 'Saqlash' %}</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}