{% extends 'base.html' %}
{% load static i18n %}


{% block title %}
    {% trans 'Departments' %}
{% endblock %}

{% block content %}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{% trans 'Tashkilotlar' %}</h3>
            </div>

{#            <div class="title_right">#}
{#                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">#}
{#                    <div class="input-group">#}
{#                        <input type="text" class="form-control" placeholder="...">#}
{#                        <span class="input-group-btn">#}
{#                          <button class="btn btn-secondary" type="button">{% trans 'Izlash' %}</button>#}
{#                        </span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                <h2></h2>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap no-footer">
{#                                    <div class="row">#}
{#                                        <div class="col-sm-6">#}
{#                                            <div id="datatabel_filter" class="dataTables_filter">#}
{#                                                <label>#}
{#                                                    Search:#}
{#                                                    <input class="form-control input-sm" type="search" placeholder="" aria-controls="datatable">#}
{#                                                </label>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                                    <table id="datatable" class="table table-hover table-bordered text-center dataTable no-footer" role="grid" aria-describedby="datatable_info" style="  width:100%">
                                        <thead>
                                        <tr class="text-uppercase">
                                            <th>T/R</th>
                                            <th aria-controls="datatable">{% trans 'Yuqori Turuvchi' %}</th>
                                            <th aria-controls="datatable">{% trans 'Tashkilot Nomi' %}</th>
                                            <th aria-controls="datatable">{% trans 'STIR' %}</th>
{#                                            <th aria-controls="datatable">{% trans 'STIR' %}</th>#}
{#                                            <th aria-controls="datatable">{% trans "Qo'shildi" %}</th>#}
{#                                            <th aria-controls="datatable">{% trans "Tahrirlandi" %}</th>#}
                                            <th aria-controls="datatable">{% trans 'Tashkilot turi' %}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for depart in list_exams %}
                                            <tr class=" border-bottom">
                                                <td>{{ depart.id }}</td>
                                                <td>{{ depart.parent.name_uz }}</td>
                                                

                                                {% if LANGUAGE_CODE == "uz" %}
                                                    <td>{{ depart.name_uz }}</td>
                                                {% else %}
                                                    <td>{{ depart.name_ru }}</td>
                                                {% endif %} 

                                                <td>{{ depart.inn }}</td>
                                                <td>{{ depart.department_type }}</td>
                                                <td class="text-right">
                                                    <div class="dropdown">
                                                        <a class="btn btn-sm btn-icon-only text-light"
                                                           href="#" role="button" data-toggle="dropdown"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v text-dark"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                            <a class="dropdown-item text-primary"
                                                               href="{% url 'update-department' depart.id %}">{% trans "O'zgartirish" %}</a>
                                                            <a class="dropdown-item text-danger"
                                                               href="{% url 'delete-department' depart.id %}">{% trans "O'chirish" %}</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
{#                                {% if is_paginated %}#}
{#                                <div>#}
{#                                  <nav aria-label="Page navigation conatiner">#}
{#                                    <ul class="pagination justify-content-center">#}
{#                                        {% if page_obj.has_previous %}#}
{#                                        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; AVVALGI </a></li>#}
{#                                        {% endif %}#}
{#                                        {% if page_obj.has_next %}#}
{#                                        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> KEYINGI &raquo;</a></li>#}
{##}
{#                                        {% endif %}#}
{#                                    </ul>#}
{#                                  </nav>#}
{#                                </div>#}
{#                                {% endif %}#}
                            <div>
                                <a class="btn btn-success" href="{% url 'create-department' %}">{% trans "Qo'shish" %}</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block custom_script %}
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>

    <script src="{% static 'build/js/custom.min.js' %}"></script>

{% endblock %}