{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="{% static "/vendors/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static "/vendors/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static "/vendors/nprogress/nprogress.css" %}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="{% static "/vendors/animate.css/animate.min.css" %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static "/build/css/custom.min.css" %}" rel="stylesheet">
</head>

<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
{#                {% if user.is_authenticated %}#}
                <form method="post">
                    {% csrf_token %}
                    <h1>Login Form</h1>
                    <div>
{#                        <input type="text" name="username">#}
                        {{ form.username }}
                            {% if form.username.errors %}
                                {{ form.username.errors }}
                            {% endif  %}
                    </div>
                    <div>
{#                        <input type="password" name="password">#}
                        {{ form.password }}
                    </div>
                    <div>
{#                        {{ form.errors }}#}
{#                        <button name="login" type="submit">Kir</button>#}
{#                        {% if user.is_authenticated %}#}
                            <button class="btn btn-default submit">Log in</button>
{#                        {% endif %}#}
{#                        <a class="btn btn-default submit" href="{% url 'home-page' %}">Log in</a>#}
                    </div>

                </form>
{#                {% endif %}#}
            </section>
        </div>
    </div>
</div>
</body>
</html>
