{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans "Nazorat tadbiri" %}
{% endblock %}

{% block content %}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3></h3>
            </div>


        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <h3 class="text-center my-5">{% trans 'Davlat xaridlari sohasidagi davlat nazoratini olib boruvchi organlar' %} (<a class="text-info" href="#">{% trans "budjet buyurtmachilar" %}</a>) {% trans "tomonidan amalga oshirilgan davlat xaridlari qonuniyligi yuzasidan o'tkazilgan nazorat tadbirlarida aniqlangan holatlar to'g'risida ma'lumot" %}</h3>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="datatable" class="table table-hover table-bordered text-center dataTable" role="grid" aria-describedby="datatable_info" style="  width:100%">
                                      <thead>
                                        <tr style="line-height: 1.4rem; text-align: center; vertical-align: middle" class="bg-light">
                                          <th style="text-align: center; vertical-align: middle" rowspan="2">{% trans 'T/r' %}</th>
                                          <th style="text-align: center; vertical-align: middle" rowspan="2" class="sorting_asc" tabindex="0" aria-controls="datatable">{% trans 'Tashkilot nomi' %}</th>
                                          <th style="text-align: center; vertical-align: middle" rowspan="2">{% trans 'Joylashgan joyi' %}</th>
                                          <th style="text-align: center; vertical-align: middle" rowspan="2">{% trans 'Vazirlik tizimiga mansubligi' %}</th>
                                          <th style="text-align: center; vertical-align: middle">{% trans "Nazorat tadbiri o'tkazilgan oy" %}</th>
                                          <th style="text-align: center; vertical-align: middle" colspan="2" class="border-bottom">{% trans 'Qamrab olingan davr' %}</th>
                                          <th style="text-align: center; vertical-align: middle" colspan="2" class="border-bottom">{% trans 'Jami' %}</th>
                                          {% for activity in activities %}
                                          <th style="text-align: center; vertical-align: middle" colspan="2" class="border-bottom activity_id">{{ activity }}</th>
                                          {% endfor %}
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr style="line-height: 1rem; border-bottom: 2rem solid #dee2e6" class="bg-light">
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td></td>
                                              <td>{% trans "boshi" %}</td>
                                              <td>{% trans "oxiri" %}</td>
                                              <td>{% trans 'soni' %}</td>
                                              <td>{% trans 'summa' %}</td>
                                              {% for i in activities %}
                                              <td>{% trans 'soni' %}</td>
                                              <td>{% trans 'summa' %}</td>
                                              {% endfor %}
                                          </tr>
                                          {% for d in control_data %}
                                            <tr>
                                              <td style="text-align: center; vertical-align: middle" class="sorting">{{ d.id }}.</td>
                                              <td style="text-align: center; vertical-align: middle">{{ d.department }}</td>
                                              <td style="text-align: center; vertical-align: middle">{{ d.region }}</td>
                                              <td style="text-align: center; vertical-align: middle">{{ d.department.department_type }}</td>
                                              <td style="text-align: center; vertical-align: middle">{{ d.control_date }}</td>
                                              <td style="text-align: center; vertical-align: middle">{{ d.period_start }}</td>
                                              <td style="text-align: center; vertical-align: middle">{{ d.period_end }}</td>
                                              <td style="text-align: center; vertical-align: middle">{{ d.condition_count }}</td>
                                              <td style="text-align: center; vertical-align: middle">{{ d.condition_summa }}</td>
                                                {% for item in  first_items %}
                                                    {% if d.id == item.control_date_first_id %}
                                                         <td style="text-align: center; vertical-align: middle" class="bg-secondary">{{ item.condition_count }}</td>
                                                         <td style="text-align: center; vertical-align: middle" class="bg-secondary">{{ item.condition_summa }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>

                                          {% endfor %}
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}