{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% trans 'Nazorat tadbiri yaratish' %}

{% endblock %}
{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{% trans 'Nazorat tadbiri yaratish' %}</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="x_panel">
                        <div class="x_title mt-3">
                            <h2></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form id="form-container" method="POST">
                                {% csrf_token %}

                                <div class="row justify-content-around mt-4">
                                    <div class="col-lg-4">
                                        {{ first_form.department | as_crispy_field }}
                                    </div>
                                    <div class="col-lg-4">
                                        {{ first_form.region | as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row justify-content-around my-4">
                                    <div class="col-lg-4">
                                        {{ first_form.month | as_crispy_field }}
                                        {{ first_form.year | as_crispy_field }}
                                    </div>
                                    <div class="col-lg-4">
                                        {{ first_form.period_start | as_crispy_field }}
                                        {{ first_form.period_end | as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <div class="col-lg-4">
                                        {{ first_form.condition_count | as_crispy_field }}
                                    </div>
                                    <div class="col-lg-4">
                                        {{ first_form.condition_summa | as_crispy_field }}
                                    </div>
                                </div>
                                <hr class="my-5">
                                {{formset.management_form}}

                                <div class="bird-form row justify-content-center">
                                    {% for form in formset %}

                                    <div class="col-lg-6">
                                        {{ form.control_activate_type | as_crispy_field }}
                                    </div>
                                    <div class="col-lg-1">
                                        {{ form.condition_count | as_crispy_field }}
                                    </div>
                                    <div class="col-lg-1">
                                        {{ form.condition_summa | as_crispy_field }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="row insert-div">
                                    <button class="btn btn-success mt-3 ml-auto mr-4" id="add-form" type="button">{% trans "Tadbir qo'shish" %}</button>
                                </div>
                                <hr class="mt-4">
                                <button class="btn btn-success mt-2" type="submit">{% trans "Saqlash" %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <script>
        let birdForm = document.querySelectorAll(".bird-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
        let insert = document.querySelector(".insert-div")
        let formNum = birdForm.length-1
        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()

            let newForm = birdForm[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, insert)

            totalForms.setAttribute('value', `${formNum+1}`)
        }
    </script>
{% endblock %}
