
.error-msg {
  font-size: 12px;
  color: #f00;
  margin-top: 10px;
  display: block;
}
.login-input-block .error-msg {
  margin-top: 10px;
  letter-spacing: 0.5px;
  color: #fff;
}


.error-msg:before {
  content: '!';
  width: 20px;
  height: 20px;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #f00;
  font-size: 15px;
  line-height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.login-input-block .error-msg:before {
  color: #f00;
}

.dep-parent {
  size: A4;
  margin-left: auto;
}
.dep-name-ru {
  margin: 0 auto;
}

.name-uz {
  margin: 0 auto;
  background: grey;
}