{% extends 'base.html' %}
{% load static i18n %}



{% block title %}
    {% trans 'Nazorat tadbirlari' %}
{% endblock %}

{% block content %}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{% trans 'Nazorat tadbirlari' %}</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="datatable" class="table table-hover text-center" >
                                        <thead>
                                        <tr class="text-uppercase">
                                            <th>ID</th>
                                            <th>{% trans 'Nomi' %}</th>
                                            <th>{% trans 'Именование' %}</th>
                                            <th>{% trans "Qo'shildi" %}</th>
                                            <th>{% trans 'Tahrirlandi' %}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for a in activities %}
                                            <tr class=" border-bottom">
                                                <td>{{ a.id }}</td>
                                                <td>{{ a.name_uz }}</td>
                                                <td>{{ a.name_ru }}</td>
                                                <td>{{ a.created_at }}</td>
                                                <td>{{ a.updated_at }}</td>
                                                <td class="text-right">
                                                    <div class="dropdown">
                                                        <a class="btn btn-sm btn-icon-only text-light"
                                                           href="#" role="button" data-toggle="dropdown"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v text-dark"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                            <a class="dropdown-item text-primary"
                                                               href="{% url 'update-activity' a.id %}">{% trans "O'zgartirish" %}</a>
                                                            <a class="dropdown-item text-danger"
                                                               href="{% url 'delete-activity' a.id %}">{% trans "O'chirish" %}</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            <div>
                                <a class="btn btn-success" href="{% url 'create-activity' %}">{% trans "Qo'shish" %}</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}