{% load  static i18n %}
{% load mptt_tags %}
{% load app_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/ico"/>

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static '/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- select2 -->
    <link href="{% static '/css/select2.min.css' %}">
    <!-- Font Awesome -->
    <link href="{% static '/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static '/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static '/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="{% static '/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{% static '/vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="{% static '/vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
    <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}">
    <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}">
    <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}">
    <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}">
    <link href="{% static '/build/css/custom.min.css' %}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

    {% block script %}
    {% endblock %}
</head>
{#sdfnalsd#}
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="{% url 'home-page' %}" class="site_title"><i
                            class="fa fa-university"></i>{% trans 'Hisob palatasi' %}</a>
                </div>

                <div class="clearfix"></div>
                <br/>


                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            {% if not user.type_of_user == 'monitoring' %}
                                {% if not user.type_of_user == 'control' %}
                                <li>
                                    <a href="{% url 'users-page' %}">
                                        <i class="fa fa-users"></i>
                                        {% trans 'Foydalanuvchilar' %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'regions-page' %}">
                                        <i class="fa fa-puzzle-piece"></i>{% trans 'Hududlar' %}
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'departments' %}"><i
                                            class="fa fa-sitemap"></i>{% trans "Tashkilotlar" %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'control-data-table' %}"><i
                                            class="fa fa-volume-control-phone"></i>{% trans 'Nazorat tadbiri' %}</a>
                                </li>
                            {% endif %}


                            <li>
                                <a><i class="fa fa-archive"></i>{% trans 'Hisobotlar' %}<span
                                        class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{% url 'control_data' %}">{% trans 'Nazorat tadbiri' %}</a></li>
                                </ul>
                            </li>
                        {% if not user.type_of_user == 'monitoring' and not user.type_of_user == 'control' %}
                            <li>
                                <a href="{% url 'control-activities' %}"><i
                                        class="fa fa-book"></i>{% trans 'Tadbir turlari' %}</a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <nav class="nav navbar-nav">
                    <ul class=" navbar-right">

                        {% if request.user %}
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown"
                                   data-toggle="dropdown" aria-expanded="false">
                                    <img src="{% static 'images/img.jpg' %}" alt="">{{ user.username }}
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right"
                                     aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item"
                                       href="{% url 'profile-page' %}">{% trans 'Shaxsiy kabinet' %}</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Sozlamalar</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Yordam</a>

                                    <a class="dropdown-item" href="{% url "logout" %}"><i
                                            class="fa fa-sign-out pull-right"></i>{% trans "Tizimdan chiqish" %}</a>
                                </div>
                            </li>
                        {% endif %}
                        <div class="languages">
                            <ul class="languages">
                                {% for language in languages %}
                                    <li class="nav-item dropdown open" style="padding-left: 15px;">
                                        {% get_url_tag request=request lang=language.code as url %}
                                        <a href="{{ url }}">{{ language.name_translated }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        {% block content %}

        {% endblock %}
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                {#            <a href="https://colorlib.com"></a>#}
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>


<!-- jQuery -->
<script src="{% static '/vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static '/js/select2.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static '/vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static '/vendors/fastclick/lib/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static '/vendors/nprogress/nprogress.js' %}"></script>
<!-- Chart.js -->
<script src="{% static '/vendors/Chart.js/dist/Chart.min.js' %}"></script>
<!-- gauge.js -->
<script src="{% static '/vendors/gauge.js/dist/gauge.min.js' %}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static '/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static '/vendors/iCheck/icheck.min.js' %}"></script>
<!-- Skycons -->
<script src="{% static '/vendors/skycons/skycons.js' %}"></script>
<!-- Flot -->
<script src="{% static '/vendors/Flot/jquery.flot.js' %}"></script>
<script src="{% static '/vendors/Flot/jquery.flot.pie.js' %}"></script>
<script src="{% static '/vendors/Flot/jquery.flot.time.js' %}"></script>
<script src="{% static '/vendors/Flot/jquery.flot.stack.js' %}"></script>
<script src="{% static '/vendors/Flot/jquery.flot.resize.js' %}"></script>
<!-- Flot plugins -->
<script src="{% static '/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
<script src="{% static '/vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
<script src="{% static '/vendors/flot.curvedlines/curvedLines.js' %}"></script>
<!-- DateJS -->
<script src="{% static '/vendors/DateJS/build/date.js' %}"></script>
<!-- JQVMap -->
<script src="{% static '/vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
<script src="{% static '/vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script src="{% static '/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static '/vendors/moment/min/moment.min.js' %}"></script>
<script src="{% static '/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

<!-- Custom Theme Scripts -->
<script src="{% static '/build/js/custom.min.js' %}"></script>
<script src="{% static '/main/main.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% block custom_script %}{% endblock %}
</body>
</html>