{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}
 {% trans 'Delete Region' %}
{% endblock %}


{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{% trans "Hududni o'chirish" %}</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">{% trans 'Izlash' %}</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_content">
                      <div class="bg-white p-3 rounded mx-auto">
                        <form class="m-4 w-75 mx-auto" role="form" action="{% url 'delete-region' id %}" method="POST">
                          {% csrf_token %}
                            <div class="form-group">
                                <h1>{% trans "Bu hududni o'chirishni hohlaysizmi?" %}</h1>
                            </div>
                            <p><input type="submit" value="Ha" class="btn btn-success mr-3"/><a class="btn btn-danger" href="{% url 'regions-page' %}">{% trans 'Bekor qilish' %}</a></p>
                        </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}