{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% trans 'Regions' %}
{% endblock %}

{% block content %}
    <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{% trans 'Hududlar' %}</h3>
              </div>
              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">{% trans 'Izlash' %}</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable" class="table table-hover text-center" style="width:100%">
                              <thead>
                                <tr class="text-uppercase">
                                  <th>id</th>
                                  <th>{% trans 'Yuqori Turuvchi' %}</th>
                                  <th>{% trans 'Nomi' %}</th>
                                  <th>{% trans 'Именование' %}</th>
                                  <th>{% trans 'Code' %}</th>
                                  <th>{% trans "Qo'shildi" %}</th>
                                  <th>{% trans "Tahrirlandi" %}</th>
                                  <th>{% trans 'Shahar' %}</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for region in regions %}
                                  <tr class="border-bottom">
                                      <td>{{ region.id }}</td>
                                      <td>{{ region.parent }}</td>
                                      <td>{{ region.name_uz }}</td>
                                      <td>{{ region.name_ru }}</td>
                                      <td>{{ region.soato_code }}</td>
                                      <td>{{ region.created_at }}{% trans 'da' %}</td>
                                      <td>{{ region.updated_at }}{% trans 'da' %}</td>
                                      <td>{{ region.is_city }}</td>
                                      <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v text-dark"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item text-primary" href="{% url 'update-region' region.id %}">{% trans "O'zgartirish" %}</a>
                                                <a class="dropdown-item text-danger" href="{% url 'delete-region' region.id %}">{% trans "O'chirish" %}</a>
                                            </div>
                                        </div>
                                      </td>
                                  </tr>
                              {% endfor %}
                              </tbody>
                            </table>

                        </div>
                        <div>
                            <a class="btn btn-success" href="{% url 'create-region' %}">{% trans "Qo'shish" %}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}