{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% trans 'Update Region' %}
{% endblock %}


{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{% trans 'Hududni tahrirlash' %}</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">{% trans 'Izlash' %}</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_content">
                        <form class="mt-4" method="POST" novalidate>
                            {% csrf_token %}
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align"></label>
                                <div class="col-md-6 col-sm-6">
                                    {{ form.parent | as_crispy_field }}
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align"></label>
                                <div class="col-md-6 col-sm-6">
                                    {{ form.name_uz | as_crispy_field }}
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align"></label>
                                <div class="col-md-6 col-sm-6">
                                    {{ form.name_ru | as_crispy_field }}
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align"></label>
                                <div class="col-md-6 col-sm-6">
                                    {{ form.soato_code | as_crispy_field }}
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3"></label>
                                <div class="col-md-6 col-sm-6">
                                    {{ form.is_city | as_crispy_field }}
                                </div>
                            </div>
                            <div class="ln_solid">
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3">
                                        <button class="btn btn-success mt-3" type="submit">{% trans "Saqlash" %}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}